# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

TP1/.DS_Store

TP1/tpe1/.idea/encodings.xml

TP1/tpe1/.idea/misc.xml

TP1/tpe1/api/target/maven-archiver/pom.properties

TP1/tpe1/client/target/classes/log4j.xml

TP1/tpe1/client/target/maven-archiver/pom.properties

TP1/tpe1/client/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst

TP1/tpe1/client/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst

TP1/tpe1/server/target/classes/log4j.xml

TP1/tpe1/server/target/maven-archiver/pom.properties

TP1/tpe1/server/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst

TP1/tpe1/server/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst

TP1/tpe1/.idea/compiler.xml

TP1/tpe1/.idea/libraries/Maven__log4j_log4j_1_2_17.xml

TP1/tpe1/.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_1_2.xml

TP1/tpe1/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_5_9_0.xml

TP1/tpe1/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_9_0.xml

TP1/tpe1/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_9_0.xml

TP1/tpe1/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_params_5_9_0.xml

TP1/tpe1/.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_9_0.xml

TP1/tpe1/.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_9_0.xml

TP1/tpe1/.idea/libraries/Maven__org_mockito_mockito_all_1_10_19.xml

TP1/tpe1/.idea/libraries/Maven__org_opentest4j_opentest4j_1_2_0.xml

TP1/tpe1/.idea/libraries/Maven__org_slf4j_jcl_over_slf4j_1_7_12.xml

TP1/tpe1/.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_12.xml

TP1/tpe1/.idea/libraries/Maven__org_slf4j_slf4j_log4j12_1_7_12.xml

TP1/tpe1/.idea/modules.xml

TP1/tpe1/api/tpe1-api.iml

TP1/tpe1/client/target/tpe1-client-1.0-SNAPSHOT/run-client.sh

TP1/tpe1/client/tpe1-client.iml

TP1/tpe1/server/target/tpe1-server-1.0-SNAPSHOT/run-registry.sh

TP1/tpe1/server/target/tpe1-server-1.0-SNAPSHOT/run-server.sh

TP1/tpe1/server/tpe1-server.iml

TP1/tpe1/tpe1-parent.iml

*.iml

tpe1/tpe1-g13-parent/.idea/misc.xml

tpe1/tpe1-g13-parent/.idea/workspace.xml
